html{
    font-size: 10px;
}

body{
    display: flex;
	flex-direction: column;
	min-height: 100vh;
    max-width: 100%;
}

/*Headerエリア*/

.top{
    display: flex;
    justify-content: space-between;
}

.top-under{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}

.logo{
    margin-right: 12px;
    margin-left: 0px;
}

.letter{
    font-size: 25px;
    font-weight: bold;
    margin-top:50px;
}

.small{
    font-size: 15px;
    margin-top:10px;
    font-weight: normal;

}

.letter a{
    text-decoration: none;
    color: black;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left:50%; 
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-size: 14px;
    max-width: 100%;
    border:solid 0px #c9c9c9;
    border-left:solid 0px #c9c9c9;
    border-right:solid 0px #c9c9c9;
}

.li {
    display: inline;
}


/*TOP画像エリア*/
.top-text1{
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 15px;
    padding-top: 40px;
}

.top-text2{
    text-align: center;
    font-size: 40px;
    color: rgb(248, 252, 255);
    margin-top: 40px;
}

.proposal_box_01{
    margin-top: 200px;
    margin-left: 0px;
    text-decoration: none;
}

.proposal_box_02{
    margin-top: 80px;
    margin-left: 0px;
    text-decoration: none;
}

.proposal_box_01_female{
    margin-top: 380px;
    margin-left: 0px;
    text-decoration: none;
}

.proposal_box_02_female{
    margin-top: 80px;
    margin-left: 0px;
    text-decoration: none;
}

.proposal_box_03{
    margin-top: 120px;
    margin-left: 0px;
    text-decoration: none;
}

.proposal_box_04{
    margin-top: -70px;
    margin-left:0px;
    text-decoration: none;
}

.proposal_left{
    width:400px;
    height: 60px;
    background-color: #ffd61a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: .3s;
    margin-bottom: 50px;
}

.proposal_right_01{
    background-image: url("/image/hatsuratsu.png");
    background-position: center;
    background-size: 120%;
    margin-left:40px;
    width:240px;
    height: 230px;
    /*background-color: white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 5px #c9c9c9;
    border-radius: 50%;
    transition: .3s;
}

.proposal_right_02{
    background-image: url("/image/female.png");
    background-position: top;
    opacity: 0.9;
    background-size: 120%;
    margin-left: 300px;
    width:240px;
    height: 230px;
   /*background-color: white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 5px #c9c9c9;
    border-radius: 50%;
    transition: .3s;
}

.proposal_left:hover {
background:  #28bbaa;
}

.proposal_right_01:hover {
/*background: #28bbaa;*/
transform:scale(1.2,1.2);
}

.proposal_right_02:hover {
/*background: #28bbaa;*/
transform:scale(1.2,1.2);
}


.proposal_text_left{
    color: aliceblue;
    font-size: 35px;
    font-weight: bold;
}

.proposal_text_left a{
    font-size: 30px;
    font-weight: bold;
    text-decoration:none;
    color: #011412;
}

.proposal_text_right{
    color: aliceblue;
    font-size: 35px;
    font-weight: bold;
    background-color: white;
    opacity: 0.8;
}

.proposal_text_right a{
    font-size: 30px;
    font-weight: bold;
    text-decoration:none;
    color: #011412;
}

.full_screen{
    width: 1280px;
    margin: auto;
    display: flex;
}

.left_side{
    width: 55%;
    background-image: url("/image/glasses.png");
    background-size: cover;
    height: 800px;
    position: relative;
    margin-left: 0px;
}

.left_side_female{
    width: 50%;
    background-image: url("/image/TOP女性.jpg");
    background-size: cover;
    height: 800px;
    position: relative;
    margin-left: 0px;
}

.right_side{
    width: 50%;
    background-image: url("/image/top.png");
    background-size: cover;
    height: 800px;
    position: relative;
    margin-left: 10px;
    margin-right:0px;
    overflow: hidden;
    position: relative; 
}

.main_img {
    z-index:10;
    opacity: 0;
    width: 100%;
    height: 680px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 36s 0s infinite;
    animation: anime 36s 0s infinite; }

    .main_img:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; }

    .main_img:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; }

    .main_img:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s; }

    .main_img:nth-of-type(5) {
      -webkit-animation-delay: 24s;
      animation-delay: 24s; }

    .main_img:nth-of-type(6) {
      -webkit-animation-delay: 30s;
      animation-delay: 30s; }

  .main_imgM {
    opacity: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: anime 36s 0s infinite;
    animation: anime 36s 0s infinite; }

    .main_imgM:nth-of-type(2) {
      -webkit-animation-delay: 6s;
      animation-delay: 6s; }

    .main_imgM:nth-of-type(3) {
      -webkit-animation-delay: 12s;
      animation-delay: 12s; }

    .main_imgM:nth-of-type(4) {
      -webkit-animation-delay: 18s;
      animation-delay: 18s; }

    .main_imgM:nth-of-type(5) {
      -webkit-animation-delay: 24s;
      animation-delay: 24s; }

    .main_imgM:nth-of-type(6) {
      -webkit-animation-delay: 30s;
      animation-delay: 30s; }

@keyframes anime {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
         transform: scale(1.2);
                    z-index:9;
    }
    100% { opacity: 0 }
}

@-webkit-keyframes anime {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
         -webkit-transform: scale(1.2);
            z-index:9;
    }
    100% { opacity: 0 }
}



/*ourコーチズエリア*/

.news{
    margin-top: 20px;
    border:solid 2px #c9c9c9;
    border-left:solid 0px #c9c9c9;
    border-right:solid 0px #c9c9c9;
    margin-left: 30px;
    margin-right:30px;
}

.news-title{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.news-titlej{
    text-align: center;
    font-size: 25px;
    line-height:28px;
    margin-bottom: 15px;
}

.news-detail{
    width: 940px;
    margin: auto;
    display: flex;
    align-items: center;
}

.news-block{
    width: 200px;
    flex-direction:column;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

.news-block:hover {
    border: solid 3px #28bbaa;

}

.news-image{
    width: 200px;
    height: 300px;
}

.news-date{
    font-size: 16px;
    text-align: left;
    margin-bottom: 24px;
}

.news-text{
    font-size: 16px;
    text-align: left;
}

.more_box{
    justify-content: space-around;
    margin-top: 60px;
}

.more{
    margin:auto;
    width:300px;
    height: 60px;
    background-color: #ffd61a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: .3s;
    margin-bottom: 60px;
}

.more:hover {
background: #011412;
}

.more_text{
    color: aliceblue;
    font-size: 18px;
}

/*投稿エリア*/

.post{
    margin-top: 20px;
    border:solid 0px #c9c9c9;
    border-left:solid 0px #c9c9c9;
    border-right:solid 0px #c9c9c9;
    margin-left: 30px;
    margin-right:30px;
}

.post-title{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.post-titlej{
    text-align: center;
    font-size: 25px;
    line-height:28px;
    margin-bottom: 15px;
}

.btn-remove{
    margin:auto;
    width:200px;
    height: 30px;
    background-color: #ffd61a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-try{
    margin:auto;
    width:200px;
    height: 30px;
    background-color: #17e9c6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-more{
    margin:auto;
    width:200px;
    height: 30px;
    background-color: #17e9c6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: .3s;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}


.inputtext {
    color:rgba(43, 32, 32, 0.76) ;
    font-size: 18px;
    border-left: 0;
    border-right: 0;
    width: 80px;
    line-height: 3rem;
    text-align: center;
    border: 1px solid #D7DBDD;
    padding: 0 10px;
  }

.btn-submit:hover {
    background: #011412;
}

/*パーソナライズ提案エリア*/

.contact{
    width: 700px;
}

.form-wrapper{
    width: 700px;
    margin: auto;
}

.contact-title{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.con1{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
    font-size: 16px;
    line-height: 175%;
}

.con2{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 175%;
}

.con3{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 175%;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.form-title{
    width: 160px;
    padding: 12px 64px 8px 16px;
    font-weight: normal;
    text-align: left;
    border:solid 1px #c9c9c9;
    font-size: 16px;
    border-left: 1px solid white;
}

.form-title .check-radio{
    padding: 0;
}

.form-item{
    width: 400px;
    padding: 8px 8px 8px 8px;
    border:solid 1px #c9c9c9;
    text-align: left;
    font-size: 16px;
    border-right: 1px solid white;
}

.form-parts{
    appearance: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border:solid 1px #c9c9c9;
    font-size: 1.6rem;
}

.form-ul_01{
    height: 250px;
}

.checkbox{
    margin-bottom:24px;
}

.input[type*="checkbox"]{
    appearance: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    width: 16px;
    height: 16px;
    margin-top: 12px;
    margin-bottom:12px;
    border:solid 1px #c9c9c9;
    margin: 0 40px 0 0px;
}

.input[type*="checkbox"]:checked{
    background-color: #a0a0a0;
}

.btn-submit{
    margin:auto;
    width:300px;
    height: 60px;
    color: white;
    background-color: #ffd61a;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    transition: .3s;
    margin-bottom: 30px;
}

.age_result-box{
        background-image: url("./TOP\ IMAGE.png");
        background-size: cover;
        height: 400px;
        position: relative;
        margin-left: 50px;
        margin-right:50px;
        margin-bottom:50px;
}
    
.age_result{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: rgb(1, 12, 20);
        padding-bottom: 30px;
        padding-top: 100px;
}

.confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(1, 12, 20);
    padding-bottom: 100px;
    padding-top: 100px;
}

.form-post{
    width: 300px;
    padding: 8px;
}

.footer-text-center{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10Px;
    padding: 24px 0;
    background-color: #707070;
    text-align: center;
}

.copyrights {
color: #fff;
font-size: 16px;
text-align: center;
margin-top: 30px;
}

.output{
    overflow-y: scroll;
    height: 800px;
    margin:auto;
    width:340px;
}

.outputdetail{
    margin-left: 50px;
}
.chat{
    margin:auto;
    width:270px;
    height: 150px;
    align-items: center;
    transition: .3s;
    margin-bottom: 5px;
}

.uname{
    margin:auto;
    text-align: center;
    align-items: center;
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: #ecf3f2;
    height: 30px;
}

.text{
    margin:auto;
    text-align: center;
    align-items: center;
    font-size: 20px;
    padding-top:10px;
    padding-bottom:5px;
    background-color: #ecf3f2;
    height: 30px;
}

.postimage{
    margin-left: 0px;
    display: flex;
    justify-content: center;
}

.loginbutton{
    margin:auto;
    width:300px;
    height: 60px;
    color: white;
    background-color: #ffd61a;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    transition: .3s;
    margin-bottom: 30px;
}

.loginmsg{
    margin:auto;
    width:300px;
    height: 60px;
    color: white;
    background-color: #ffd61a;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    transition: .3s;
    margin-bottom: 30px;
}

.search{
    margin-left:50px;
    margin-right:50px;
    margin-bottom:100px;
    max-width: 50%;
}

.search_form{
    height: 30px;
}

.form-control mr-sm-2{
    height: 30px;
}

.post_all{
    display: flex;
    flex-wrap:wrap;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
}

.post_block{
    width:23%;
    margin-right: 15px;
    margin-bottom: 15px;
}

.post_img img{
    border-radius: 10px 10px 0px 0px; /* 左上、右上、右下、左下 */
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.post_under{
    background-color:#f5fffa;
    border :1px solid #dcdcdc;
    border-top :0px solid white; 
    border-radius: 0px 0px 10px 10px; /* 左上、右上、右下、左下 */
    height:180px;
}

.post_title {
    padding-top:10px; 
    font-size: 20px;
}

.post_button{
    display: flex;
    margin-top: 10px;
}

.post_detail {
    width:50%;
    margin-left:5%; 
}

.post_like {
    width:50%;
}

.post_full_screen{
    display: flex;
    /*justify-content: space-between;*/
}

.post_left_side{
   width:640px;
   margin-left:50px; 
}

.post_right_side{
    width:640px; 
    margin:25px; 
}

.post_01{
   max-width:100%;
}

.post_02{
    padding: 30px 30px;
    border-radius: 100%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    position: relative;
    font-size: 15px;
}

.post_03{
    padding: 30px 30px;
    border-radius: 100%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    position: relative;
    font-size: 20px;
}

.post_04{
    background: #fff;
    float: left;
    width: 100%;
    position: relative;
    padding: 25px 30px 30px;
}

.post_05{
    background: #fff;
    float: left;
    width: 100%;
    position: relative;
    padding: 25px 30px 30px;
}

.post_04_title{
    font-size: 40px;  
}

.post_04_favo{
    font-size: 30px;   
}

.post_title_for_detail{
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 10px;
}

.try{
    background-color: #335692;
    color: #fff;
    width: 200px;
    font-size: 20px;
    border: 0px;
    border-radius:2%;
    text-align: center;
}

.try_hp{
    background-color: #335692;
    color: #fff;
    width: 200px;
    font-size: 20px;
    border: 0px;
    border-radius:2%;
    text-align: center;
    margin-left: 120px;
}

.post_05_comment{
    max-height: 500px;
    overflow-y: scroll;
}

.product_all{
    display: flex;
    flex-wrap:wrap;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
}

.product_block{
    width:50%;
    margin-right: 15px;
}

.product_img img{
    border-radius: 10px 10px 0px 0px; /* 左上、右上、右下、左下 */
    width: 100%;
    height: 100%px;
    object-fit:cover;
}

.product_under{
    background-color:#f5fffa;
    border :1px solid #dcdcdc;
    border-top :0px solid white; 
    border-radius: 0px 0px 10px 10px; /* 左上、右上、右下、左下 */
    height:150px;
}

.product_title {
    text-align: center;
    padding-top:10px; 
    font-size: 20px;
}

.product_button{
    margin-top: 10px;
    margin-left:30%; 
}

.product_detail {
    width:50%;
    decoration:none;
}

.test_submit{
    background-color: #335692;
    color: #fff;
    width: 200px;
    font-size: 15px;
    border: 0px;
    border-radius: 10%;
}

.product_like {
    width:50%;
}

.product_box{
    padding: 30px 30px;
    border-radius: 100%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    position: relative;
    font-size: 15px;
}

.product_name{
    margin-bottom: 10px;
    font-weight: bold
}

.product_desc{
    
}

.product_img{
    
}

.to_user_chat{
    position: relative;
}

.image-box-profile{
    position: absolute;
    top:0px;
    left:-80px;
}

.chat_list li p{
    width: 45%;
    max-width: 45%;
    padding:12px 16px;
    border-radius: 12px;
}

.from_user_box p{
      background-color: #335692;
      color:white;
}

.to_user_box p{
      background-color:#EEEEEE;
}

/*.left-chat{
    display: flex;
    justify-content: flex-start;
    max-width: 500px;
    gap: 6px ; 
}

.left-chat .table-text{
    background-color: #EEEEEE;
    color: black;
    text-align: left;
    font-size: 16px;
    margin-left: 5px;
    align-items: center;
    flex-basis: calc(100% - 50px);
    border-radius: 10px 10px 10px 0;
}

.left-chat .table-image {
    flex-basis:50px;
}*/

.from_user_box p{
     margin-left: auto;
}


/*.right-chat{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    max-width: 500px;
}

.right-chat .table-text{
    background-color: #335692;
    color: #fff;
    text-align: right;
    font-size: 16px;
    align-items: center;
    border-radius: 20px 20px 0 20px;
}*/

.chat_list{
    list-style: none;
    padding:10px;
    padding-left: 80px;
}

.chat_list > li{
    min-height: 60px;
    margin-bottom: 10px;
}

.chat-write input{
    height:70px;
}

.textarea {
    resize: none; /*--リサイズを無効を追加してください--*/
	height: 140px; /*--高さ--*/
	margin: 1em 0; /*--外側の余白--*/
}

.row{
    display: flex;
    justify-content: space-between;
    margin-left:2%;
    margin-right:2%;
}

.col-md-11{
    max-width: 30%;
    
}
.col-md-12{
    max-width: 70%;
}

.user_head{
    background:#fff;
    display: flex; 
    gap: 6px ; 
    border-width: thin;
    border-color: #f5fffa;
    border-style: solid;
}

.col-md-14{
    height:400px;
    overflow-x: hidden; 
    overflow-y: scroll;
}

.head_image {
    flex-basis: 50px;
}

.head_image img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.table-image img{
    width:30px;
    height:30px;
    border-radius: 50%;
}

.user_name{
    font-size: 20px;
}

.table-text img{
    width:30px;
    height:30px;
    border-radius: 50%;
}

.submit{
    background-color: #335692;
    color: #fff;
    width: 60px;
    font-size: 20px;
    border: 0px;
    border-radius: 10%;
}

.input-full_screen{
    display: flex;
}
.input-box{
    background: #fff;
    font-size: 16px;
    float: left;
    margin-left:500px; 
    width: 100%;
    position: relative;
    padding: 25px 30px 30px;
}

.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: flex;
	z-index: 9999;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
justify-content: center;align-items: center;/* opacity: 0.7; */}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

#form5{
position:relative; 
margin-bottom:20px;	
}
#sbox5{	
outline:0;	
height:50px;
padding:0 10px; 
position:absolute; 
left:0;
top:0; 
max-width:270px;

background:#eee;
}
#sbtn5{
width:70px;
height:50px;
position:absolute; 
left:280px; 
top:0;
border-radius:2px;
background:#7fbfff;
color:#fff;
font-weight:bold;
font-size:16px;
border:none;
}
#sbtn5:hover{
background:#eee;
color:#7fbfff;
}

.comment_list{
    list-style:none;
    padding:0px; 
}

.comment_list > li{
   display: flex;
   background-color: #FFFAFA;
   padding: 8px 0;
   margin-bottom: 10px;
   border-radius: 6px;
   font-size: 16px;
}

.comment_list_user{
    width: 80px;
    min-width: 80px;
    height: 110px;
}

.comment_list img{
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.comment-text h2{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.image_box{
    display: flex;
    justify-content:center;
    align-items:start;
}

.comment_list .image_box{
    height: 80px;
}

.comment_list_comment{
    padding:8px;
}


.hp_chart{
    max-width: 1000px;
    margin-left:100px; 
}

.schedule_comment{
    font-size: 40px;
    background-color: white;
}

.google_button .btn btn-primary{
     font-size: 40px;
}

.hpinput{
    margin-left: 500px;
}

.container_register{
    background-image: url("/image/会員登録女性.png");
    background-size: cover;
}

.card-body{
    margin-left: 10px;
    font-size: 20Px;
    max-width: 98%;
}

.row_productdetail{
    margin-left: 350px;
}



.col-sm-6-product{
     font-size: 18px;
}

.recommend{
    font-size: 14px;
    background-color:white;
}
.form-group-hpinput{
      font-size: 14px;
}